@using PagedList.Mvc
@model IPagedList<MyGame.DAL.GetSth_Result2>


@{
    ViewBag.Title = "_UserItems";
}
<div id="items">
    <h2>Your Items: </h2>
    <div id="items">
        <div class="pagedList" data-otf-target="#items">
            @Html.PagedListPager(Model, page => Url.Action("ShowItems", new { page=page }),
      PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "get", UpdateTargetId = "#items" })
)
        </div>

        </div>
    


    @foreach (var item in Model)
    {
        <p>Item: @item.Item</p>
        <p>Attack: @item.Attack</p>
        <p>Defense: @item.Defense</p>
        <p>HP: @item.HPregeneration</p>

    }

</div>


