@model MyGame.UI.Models.Users.UserViewModel
@{
    ViewBag.Title = "PlayerView";
    Layout = "~/Views/Shared/_Layout3.cshtml";
}

<h2 style="text-align:center">Your profile.</h2>

<div class="account">

    @using (Html.BeginForm("PlayerView", "Profile", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {

        <div class="col-md-12 border3px">
            <div id="img" class="">
                @if (!string.IsNullOrEmpty(Model.Image))
                {
                    //this line shows a base64 string as an image
                    <img src="data:image;base64,@Model.Image" width="80" height="80" />
                }
                @Html.TextBoxFor(model => model.UploadedImage, new { type = "file" })
                @Html.ValidationMessageFor(model => model.UploadedImage, "", new { @class = "text-danger" })



                <div class="form-group" style="">
                    @*<div class="col-md-offset-5 col-md-2">*@
                    <input type="submit" value="Change my current picture" class="btn btn-default" />
                    @*</div>*@
                </div>
                <h2>@Html.DisplayFor(model => model.Name)</h2>

            </div>
        </div>
        <div class="row">
            <div class="col-md-6 border3px ">
                <div class="seestats">
                    <div>
                        Class:
                        <b>@Html.DisplayFor(model => model.ClassName)</b>
                    </div>
                    <div>
                        Level:
                        <b>@Html.DisplayFor(model => model.Level)</b>
                    </div>
                    <div>
                        Attack:
                        <b>@Html.DisplayFor(model => model.Attack)</b>
                    </div>
                    <div>
                        Armor:
                        <b>@Html.DisplayFor(model => model.Armor)</b>
                    </div>
                </div>
            </div>

            <div class="col-md-6 border3px">
                <div class="seestats">
                    <div>
                        
                        <div id="items">
                         
                           
                        </div>
                        <div>
                            @using (Ajax.BeginForm(new AjaxOptions {Url="/Profile/ShowItems", HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "items" }))
                            {
                                <input type="hidden" id="CurrentPage" name="CurrentPage" value=@ViewBag.CurrentPage>
                                <input type="hidden" id="LastPage" name="LastPage" value="@ViewBag.LastPage">
                            }

                            <input type="button" id="Previous" value="Previous" />
                            <input type="button" id="Next" value="Next" />
                        </div>


                    </div>
                </div>
            </div>

        </div>

    }

</div>


<div>
    @foreach (var item in Model.FileList)
    {
        <div>@item.FileName</div>
    }
</div>
@Scripts.Render("~/bundles/jquery");
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script type="text/JavaScript">
    $(document).ready(function () {

        $("#items").load("@Url.Action("ShowItems", "Profile")");
         });

        $("#Previous").click(function () {
            if (CalculateAndSetPage("Previous")) {
                $("form").submit();
            }
        });


        $("#Next").click(function () {
            if (CalculateAndSetPage("Next")) {
                $("form").submit();
            }
        });
   
    function CalculateAndSetPage(movingType) {
        //debugger;
        var currentPage = parseInt($("#CurrentPage").val());
        var lastPage = parseInt($("#LastPage").val());

        if (currentPage == 1 && movingType == "Previous") {
            return false;
        }

        if (currentPage == lastPage && movingType == "Next") {
            return false;
        }

        if (movingType == "Previous") {
            currentPage--;
        }

        else if (movingType == "Next") {
            currentPage++;
        }

        else {
            alert("Something went wrong");
        }

        $("#CurrentPage").val(currentPage);

        return true;
        }

</script>




