@model MyGame.UI.Models.Users.UserViewModel
@{
    ViewBag.Title = "GetCoords";
}

@Html.LabelFor(model => model.CoordX)
@Html.ValueFor(model => model.CoordX)
@Html.LabelFor(model => model.CoordY)
@Html.ValueFor(model => model.CoordY);

<div>
    <div class="row clearfix">
        <div class="col-sm-offset-5 col-sm-2">
            <a class="links" id="moveUp" style="padding-left:4px">
                <img alt="Go Up" src="~/Content/Images/arrowup.png" width="26" height="26">
            </a>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-sm-offset-1 col-sm-1" style="margin-top:100px">
            <a class="links" id="moveLeft">
                <img alt="Go Left" src="~/Content/Images/leftarrow.png" width="12" height="12">
            </a>
        </div>
        <div class="col-sm-8">
            <div id="imageDisplay"></div>
        </div>
        <div class="col-sm-1" style="margin-top:100px;">
            <a class="links" id="moveRight">
                <img alt="Go Right" src="~/Content/Images/rightarrow.png" width="26" height="26">
            </a>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-sm-offset-5 col-sm-2">
            <a class="links" id="moveDown" style="padding-left:4px">
                <img alt="Go Down" src="~/Content/Images/arrowdown.png" width="26" height="26">
            </a>
        </div>
    </div>
</div>


@Scripts.Render("~/bundles/jquery");

<script type="text/JavaScript">
     $(document).ready(function () {
         var x =(@Html.ValueFor(model => model.CoordX)*20 )* -1;
         var y =(@Html.ValueFor(model => model.CoordY)*20 )* -1;

         $('#imageDisplay').css({ 'backgroundPosition': x + 'px ' + y + 'px' });

        $("#moveUp").click(function () {
            $("#map").load("@Url.Action("MoveUp", "World")", function () { $("#actions").load("@Url.Action("GetActions", "World")") })
        });

        $("#moveDown").click(function () {
            $("#map").load("@Url.Action("MoveDown", "World")", function () { $("#actions").load("@Url.Action("GetActions", "World")") })
        });

        $("#moveLeft").click(function () {
            $("#map").load("@Url.Action("MoveLeft", "World")", function () { $("#actions").load("@Url.Action("GetActions", "World")") })
            });

        $("#moveRight").click(function () {
            $("#map").load("@Url.Action("MoveRight", "World")", function () { $("#actions").load("@Url.Action("GetActions", "World")") })
        });
    });
</script>